body{
    margin:20px 100px 20px 100px;
    font-family:  tahoma;
    background-color:rgb(255, 255, 232);
    min-width:800px;
    min-height:21%;
}
.topo nav{
    background-color: rgba(163, 119, 24, 0.74);
    padding:3px;
    text-align:right;           
    border-top:solid rgba(163, 119, 24, 0.74) 1px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.topo nav ul li, a{
    display:inline-block;
    color:rgba(255, 255, 255, 0.507);
    font-size: 15px;
    text-transform: uppercase;
    padding-right: 30px;  
    letter-spacing: 2px; 
    text-decoration:none; 
}
.topo nav a:hover{
    color:white;
    font-weight:bolder;
    transition: color .3s linear;
}
#logo{
    float:left;
    left: 300px;
    top:80px;
    padding:12px 0px  0px  150px;
    width: 9%;  
}
#naruto1{
    width: 1147px;
    height: 600px;
    margin-top:auto;
    border: rgba(163, 119, 24, 0.74) solid 1px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.tendencia{
    padding:50px 100px;
    text-align: center;
    color: rgb(51, 50, 50);
}
.tendencia h1{
    font-size: 36px;
    text-transform: uppercase;
}
.tendencia p{
    font-size: 16px;
    line-height:2;
}
.depoimentos{
    overflow:auto;
    padding: 0 100px 50px 100px;
}
.depofoto{
    width:32%;
    float:left;
    text-align:center;
    box-sizing: border-box;
    margin-left:1%;
}
.depofoto img{
    width: 90%;
    border: rgba(163, 119, 24, 0.74) solid 1px;
    border-radius: 8px;
}
.nome{
    line-height: 0px;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: inline-block;
    font-weight: bolder;
}
.depoimentos p{
    color: rgb(51, 50, 50);   
    line-height: 8px;
    display: block;
    margin-top:8px
}
.bolas-de-pelo{
    background-color:#003d52;
    padding:100px;
    color: cornsilk;
    background-image: url(../projeto-fashion/imagens/bg_detalhe.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    margin-top:50px;
    margin-bottom:100px;  
    border:#003d52 solid 1px;
    border-radius: 8px;
}
.bolas-de-pelo h1{
    color: cornsilk;
    font-size: 48px;
    text-transform: uppercase;
}
.bolas-de-pelo p{
    line-height: 1.8;
    padding-right: 250px;
    letter-spacing: 1px;
}
article h3{
    color: rgba(25, 68, 117, 0.911);
    text-align: center;
    font-size: 26px;
    line-height: 2px;
    text-transform: uppercase;
    font-style: normal;
}
#map{
    margin-top:80px ;
    width: 100%;
    height: 450px;
    border: #003d52 solid 1px;
    border-radius: 10px;
}
footer{
    text-align: center;
    background-color: rgba(163, 119, 24, 0.74);
    padding:18px;
    letter-spacing: 5px;
    font-size: 12px;
    color: cornsilk;
    margin-top:70px;
    border:solid rgba(163, 119, 24, 0.74) 1px;
    border-radius: 8px;
}
